.repo-data {
  border: 2px solid var(--gray-light);
  border-radius: 3px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    text-align: center;
    padding: 0.2em 0.5em;
  }
}
