@keyframes Beat {
  0% {
    font-size: 1.7em;
  }

  50% {
    font-size: 2em;
  }

  100% {
    font-size: 1.7em;
  }
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
