.search-bar {
  width: 40em;
  display: flex;
  align-items: center;
  height: 2.5em;
  padding: 0 1em;
  padding-right: 0.8em;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white-alt);

  input {
    width: 100%;
    outline: none;
    margin-right: 0.5em;
    font-size: 1em;
    border: 0;
    background-color: inherit;
  }

  .search-bar__button {
    font-size: 16px;
    color: inherit;
    background-color: inherit;
    padding: 0;

    i {
      color: var(--primary);
      font-size: 1.5em;
      cursor: pointer;
      transition: all ease-in-out 0.1s;

      &:hover {
        font-size: 1.6em;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }
}
