@import '../../Styles/Mixins/mixins';

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 0 5px 2px var(--gray-light);

  .header__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;

    .header__content__logo {
      display: flex;
      align-items: center;
      width: 8.4em;
      height: 100%;
      margin-left: 2em;

      img {
        height: 100%;
        width: auto;
        transition: all ease-in-out 0.1s;

        &:hover {
          height: 104%;
        }
      }
    }

    .header__content__options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: calc(100% - 10.4em);
      padding-right: 1em;

      &::before {
        content: '';
      }

      @include from-tablet {
        justify-content: space-between;
        padding-right: 2em;
      }
    }
  }
}
