.search-result {
  height: 100%;

  .search-result__filterbar {
    display: flex;
    flex-wrap: wrap;

    .search-result__filterbar__item {
      width: calc(50%);
      padding: 1em;
      color: var(--black);
      border: none;
      border-bottom: 1px solid var(--gray-light);
      background-color: inherit;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 5px 0 var(--gray-light);
      }

      &--stretched {
        width: 100%;
        border-top: 1px solid var(--gray-light);
      }

      &--last {
        border-left: 1px solid var(--gray-light);
      }
    }
  }

  .search-result__item {
    display: flex;
    align-items: center;
    min-height: 6em;
    padding: 1em;
    border-bottom: 1px solid var(--gray-light);
    cursor: pointer;

    h3 {
      margin-bottom: 0.5em;
      font-size: 1em;
      font-weight: bold;
      color: var(--primary);
    }

    &:hover {
      box-shadow: 0 0 5px 2px var(--gray-light);
    }

    &--selected {
      background-color: var(--white-alt);
    }
  }
}
