.repository {
  padding: 2em;

  .repository__content-selector {
    margin: 1em 0;
    padding: 0.5em 0;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;

    button {
      margin-right: 1em;
    }
  }
}
