@import '../../Styles/Mixins/mixins';

.repository {
  position: relative;

  @include from-desktop {
    display: flex;
  }

  .repository__search-result {
    margin: 1em 0.6em;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px var(--gray-light);

    @include from-desktop {
      width: 25%;
    }

    .repository__search-result__title {
      padding: 1em 0;
      font-size: 1.2em;
      text-align: center;
      font-weight: bold;
      color: var(--primary);
    }
  }

  .repository__selected {
    margin: 1em 0.6em;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px var(--gray-light);

    @include from-desktop {
      width: 75%;
    }

    .repository__selected__back-button {
      margin-bottom: 1em;
      color: var(--primary-light);
      font-weight: bold;

      @include from-desktop {
        display: none;
      }

      i {
        margin-right: 0.5em;
      }
    }

    .repository__selected__header {
      margin-bottom: 2em;

      h2 {
        font-size: 1.3em;
      }

      button {
        margin-top: 1em;
        padding: 0.8em;
      }

      i {
        margin-left: 0.5em;
      }
    }

    .repository__selected__content-selector {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 1em 0;
      padding: 0.5em 0;
      border-top: 1px solid var(--gray-light);
      border-bottom: 1px solid var(--gray-light);

      @include from-tablet {
        justify-content: flex-start;
      }

      button {
        margin: 0.5em 0;

        @include from-tablet {
          margin-right: 0.5em;
        }
      }
    }
  }

  .repository__empty-result {
    width: 100%;
    padding: 0 2em;
    padding-top: 30vh;

    p {
      font-size: 1.5em;
      text-align: center;
      font-weight: bold;
    }
  }
}
